@import "/css/reset.css";

* {
    box-sizing: border-box;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------   header  ---------- */
.header-basic {
    z-index: 1;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #edf7ff;
    height: 93px;
    align-self: stretch;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 93px;
    padding: 20px 200px 20px 200px;
}



.header-logo {
    width: 133px;
    height: 24px;
}

.header-link_to_signin {
    cursor: pointer;
    flex-basis: 128px;
    text-align: center;
    height: auto;
    padding: 16px 20px 16px 20px;
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    text-decoration: none;

}


.header-link_to_signin p {
    margin: 0;
    width: 88px;
    height: 21px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* --------   header  ---------- */


@media (max-width: 767px) {

    /*모바일 사이즈 header*/
    .header-basic {
        height: 63px;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 63px;
        padding: 13px 32px 13px 32px;
    }

    .header-logo {
        width: 88.667px;
        height: 16px;
    }

    .header-link_to_signin {
        display: flex;
        flex-basis: 80px;
        width: 80px;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--Grey-Light, #F5F5F5);
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }


    .header-link_to_signin p {
        margin: 0;
        width: 37px;
        height: 17px;
    }
}


/* --------main section 1---------- */
.main-first_section {
    width: 100%;
    height: 953px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* padding: 70px 360px 0px 360px; */
    background: #F0F6FF;
}

.main-first_section h1 {
    width: 708px;
    height: 160px;
    text-align: center;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    margin: 0;
    /* 125% */
}

.section-text-1-tablet {
    display: none;
}

.hilight1 {
    background: linear-gradient(91deg, #6D6AFE 17.28%, #FF9F9F 74.98%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-pluslink {
    border-radius: 8px;
    background: var(--gra-purpleblue-to-skyblue, linear-gradient(91deg, #6D6AFE 0.12%, #6AE3FE 101.84%));
    display: flex;
    width: 350px;
    height: 53px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--Grey-Light, #F5F5F5);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-img_container {
    width: 1200px;
    height: 590px;
    overflow: hidden;
    /* 이미지를 자를 수 있도록 설정 */
}

.first_section_img {
    display: inline-block;
    width: 100%;
    height: auto;
    /* 이미지 높이 자동으로 조정 */
    flex-shrink: 0;
}

/* --------main section 1---------- */

@media (max-width: 1199px) {

    /*tablet size main section 1 */
    .main-first_section {
        width: 100%;
        height: 756px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        /* padding: 70px 360px 0px 360px; */
        background: #F0F6FF;
    }

    .section-text-1 {
        display: none;
    }

    .section-text-1-tablet {
        display: block;
    }

    .main-first_section h1 {
        width: 472px;
        height: 240px;
        text-align: center;
        font-family: Pretendard;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 80px;
        margin: 0;
        /* 125% */
    }

    .main-img_container {
        width: 698px;
        height: 343px;
        overflow: hidden;
        /* 이미지를 자를 수 있도록 설정 */
    }

    .first_section_img {
        display: inline-block;
        width: 100%;
        height: auto;
        /* 이미지 높이 자동으로 조정 */
        flex-shrink: 0;
    }
}

@media (max-width: 767px) {

    /*mobile size mainsection 1 */
    .main-first_section {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        /* padding: 70px 360px 0px 360px; */
        background: #F0F6FF;
        padding-top: 28px;
    }

    .section-text-1 {
        display: none;
    }

    .section-text-1-tablet {
        display: block;
    }

    .main-first_section h1 {
        width: 236px;
        height: 126px;
        text-align: center;
        text-align: center;
        font-family: Pretendard;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        /* 131.25% */
        margin: 0;

    }

    .main-img_container {
        width: 325px;
        height: 160px;
        overflow: hidden;
        /* 이미지를 자를 수 있도록 설정 */
    }

    .first_section_img {
        display: inline-block;
        width: 100%;
        height: auto;
        /* 이미지 높이 자동으로 조정 */
        flex-shrink: 0;
    }

    .main-pluslink {
        width: 200px;
        height: 37px;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}



/* --------main section 2---------- */
.main-second_section_mobile {
    display: none;
}

.main-second_section {
    width: 100%;
    height: 620px;
    display: flex;
    padding: 120px 461px 50px 461px;
    justify-content: center;
    align-items: center;
    gap: 157px;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*갭을 지우느냐 마느냐 생각해봐야할듯 */
}

.section-text-2 {
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    margin: 0;

    width: 259px;
    height: 116px;
}

.hilight2 {
    background: linear-gradient(96deg, #FE8A8A, #A4CEFF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-text p {
    color: #6B6B6B;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 0;
    /* 24px */


}

.second_section_img {
    width: 550px;
    height: 450px;
}

/* --------main section 2---------- */

@media (max-width: 1199px) {
    .main-second_section {
        height: 445px;

        padding: 80px 250px 50px 250px;

        gap: 51px;
    }

    .second_section_img {
        width: 385px;
        height: 315px;
    }
}

@media (max-width: 767px) {
    .main-second_section {
        display: none;
    }

    .main-second_section_mobile {
        display: block;
    }

    .main-second_section_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 32px 40px 33px;
        align-items: center;
        gap: 8px;
        width: 100%;
        height: 456px;
    }

    .main-second_section_mobile h1 {
        height: 30px;
        color: #000;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
    }

    .second_section_img_mobile {
        width: 325px;
        height: 265.909px;
        margin-top: 20px;
        margin-bottom: 16px;
    }

    .main-second_section_mobile p {
        color: #6B6B6B;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 22.5px */
    }
}


/* --------main section 3---------- */
.main-third_section_mobile {
    display: none;
}

.main-third_section {
    width: 100%;
    height: 550px;
    display: flex;
    padding: 50px 461px 50px 461px;
    justify-content: center;
    align-items: center;
    gap: 157px;
}

.third_section_img {
    width: 550px;
    height: 450px;
}

.section-text-3 {
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    margin: 0;

    width: 259px;
    height: 114px;
}

.hilight3 {
    background: linear-gradient(277deg, #6FBAFF, #FFD88B);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* --------main section 3---------- */

@media (max-width: 1199px) {
    .main-third_section {
        height: 415px;

        padding: 50px 250px 50px 250px;

        gap: 51px;
    }

    .third_section_img {
        width: 385px;
        height: 315px;
    }
}

@media (max-width: 767px) {
    .main-third_section {
        display: none;
    }

    .main-third_section_mobile {
        display: block;
    }

    .main-third_section_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 32px 40px 33px;
        align-items: center;
        gap: 8px;
        width: 100%;
        height: 456px;
    }

    .main-third_section_mobile h1 {
        height: 30px;
        color: #000;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
    }

    .third_section_img_mobile {
        width: 325px;
        height: 265.909px;
        margin-top: 20px;
        margin-bottom: 16px;
    }

    .main-third_section_mobile p {
        color: #6B6B6B;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 22.5px */
    }
}


/* --------main section 4---------- */
.main-fourth_section_mobile {
    display: none;
}

.main-fourth_section {
    width: 100%;
    height: 550px;
    display: flex;
    padding: 50px 461px 50px 461px;
    justify-content: center;
    align-items: center;
    gap: 157px;
}

.fourth_section-img {
    width: 570px;
    height: 469px;
}

.section-text-4 {
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    margin: 0;

    width: 291px;
    height: 114px;
}

.hilight4 {
    background: linear-gradient(99deg, #6D7CCD, rgba(82, 136, 133, 0.22));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-text-4-tablet {
    display: none;
}

/* --------main section 4---------- */

@media (max-width: 1199px) {
    .main-fourth_section {
        height: 415px;

        padding: 50px 250px 50px 250px;

        gap: 51px;
    }

    .fourth_section_img {
        width: 385px;
        height: 315px;
    }

    .section-text-4-basic {
        display: none;
    }

    .section-text-4-tablet {
        display: block;
    }
}

@media (max-width: 767px) {
    .main-fourth_section {
        display: none;
    }

    .main-fourth_section_mobile {
        display: block;
    }

    .main-fourth_section_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 32px 40px 33px;
        align-items: center;
        gap: 8px;
        width: 100%;
        height: 456px;
    }

    .main-fourth_section_mobile h1 {
        height: 30px;
        color: #000;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
    }

    .fourth_section_img_mobile {
        width: 325px;
        height: 265.909px;
        margin-top: 20px;
        margin-bottom: 16px;
    }

    .main-fourth_section_mobile p {
        color: #6B6B6B;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 22.5px */
    }
}


/* --------main section 5---------- */
.main-fifth_section_mobile {
    display: none;
}

.main-fifth_section {
    width: 100%;
    height: 550px;
    display: flex;
    padding: 50px 461px 50px 461px;
    justify-content: center;
    align-items: center;
    gap: 157px;
}

.fifth_section_img {
    width: 550px;
    height: 450px;
}

.section-text-5 {
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    margin: 0;

    width: 291px;
    height: 114px;
}

.hilight5 {
    background: linear-gradient(90deg, rgba(104, 232, 249, 1) 11%, rgba(160, 178, 210, 1) 82%, rgba(160, 178, 210, 1) 98%, rgba(160, 178, 210, 1) 99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-text-5-tablet {
    display: none;
}


/* --------main section 5---------- */
@media (max-width: 1199px) {
    .main-fifth_section {
        height: 415px;

        padding: 50px 250px 50px 250px;

        gap: 51px;
    }

    .fifth_section_img {
        width: 385px;
        height: 315px;
    }

    .section-text-5-basic {
        display: none;
    }

    .section-text-5-tablet {
        display: block;
    }
}


@media (max-width: 767px) {
    .main-fifth_section {
        display: none;
    }

    .main-fifth_section_mobile {
        display: block;
    }

    .main-fifth_section_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 32px 40px 33px;
        align-items: center;
        gap: 8px;
        width: 100%;
        height: 456px;
    }

    .main-fifth_section_mobile h1 {
        height: 30px;
        color: #000;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.3px;
    }

    .fifth_section_img_mobile {
        width: 325px;
        height: 265.909px;
        margin-top: 20px;
        margin-bottom: 16px;
    }

    .main-fifth_section_mobile p {
        color: #6B6B6B;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 22.5px */
    }
}



/* -----------  footer  ------------ */
.footer-mobile {
    display: none;
}

footer {

    display: flex;
    height: 160px;
    padding: 32px 104px 64px 104px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background: var(--The-julge-black, #111322);
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.footer-rights {
    color: #676767;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 105px;
    height: 18px;
}

.footer-rights p {
    width: 100%;
    height: 18px;
}

.footer-links {
    display: flex;
    width: 181.111px;
    align-items: flex-start;
    gap: 30px;
    height: 18px;
}

.footer-links a {
    text-decoration: none;
    color: #CFCFCF;
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link-to_privacy {
    width: 100px;
    height: 18px;
}

.link-to_faq {
    width: 33px;
    height: 18px;
}

.footer-sns_link {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.footer-sns_link a {
    width: 20px;
    height: 20px;
}

/* -----------  footer  ------------ */

@media (max-width: 767px) {
    .footer {
        display: none;
    }

    .footer-mobile {
        display: block;
    }

    .footer-mobile {
        display: flex;
        height: 160px;
        padding: 32px 32px 64px 32px;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
    }

    .footer-container-mobile {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
    }

    .footer-container-mobile-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
    }

    .footer-container-mobile-left p {
        color: #CFCFCF;
        font-family: Arial;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}