.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 100px;
}

@media (max-width: 1124px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  }
}
@media (max-width: 767px) {
  .cardList {
    grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  }
  
}
.CardLink {
  text-decoration: none;
}

.CardListItem {
  width: 340px;
  height: 334px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);
}
.CardListItem__imgs {
  width: 340px;
  height: 200px;
  overflow: hidden;
  border-radius: 15px 15px 0px 0px;
}
.CardListItem__img {
  display: block;
  width: 340px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 15px 15px 0px 0px;
  background: #d9d9d9;
  object-fit: cover;
  transition: all 0.2s linear;
}

.CardListItem__img:hover {
  transform: scale(1.3);
}

.CardInfo {
  height: 134px;
  display: flex;
  width: 340px;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.CardInfo__time {
  color: #666;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.CardInfo__title {
  color: #000;
  /* 두 줄로 표시하고, 오버플로우시 ...으로 표현 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 표시할 최대 줄 수 */
  -webkit-box-orient: vertical;
  white-space: normal;

  /* Linkbrary/body1-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-decoration: none;
}

.CardInfo__date {
  overflow: hidden;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;

  /* Linkbrary/body2-regular */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
