.searchBar {
  position: relative;
  width: 1060px;
}

.searchBar__input {
  display: flex;
  width: 1060px;
  padding: 15px 16px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px;
  background: #f5f5f5;
  outline: none;
  border: 0px;
  padding-left: 2.4rem;
}

.searchIcon {
  height: 15px;
  width: 15px;
  position: absolute;
  left: 16px;
  top: 15px;
}